
.nav {
  background-color: #000;
  width: 100%;
  padding: 0.2% 10%;
}

.navSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-around;
}

.socialIcon {
  list-style-type: none;
  margin: 0 30%;
  color:white;
}
